<header>
    <nav>
        <a href="/">MyCum</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/register">Sign up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>