<%- include('partials/header.ejs') %>

<div class="wrapper">
    <div class="top-content flex">
        <h1>Help</h1>
        <div>
            Soon™
        </div>
    </div>

    <div class="center-content flex">
        <div class="center-text flex">
            <h2></h2>
            <p></p>
        </div>
        <div class="center-img"></div>
    </div>
</div>