<%- include('partials/header.ejs') %>

<div class="wrapper">
    <div class="top-content flex">
        <h1>How It Works</h1>
        <div class="steps-container flex">
            <div class="step flex">
                <div class="number-circle icon">1</div>
                <div class="step-1-img step-img"></div>
                <h2>Create Your Account</h2>
            </div>
            <div class="step flex">
                <div class="number-circle icon">2</div>
                <div class="step-2-img step-img"></div>
                <h2>Go To Your Personal Food Diary</h2>
            </div>
            <div class="step flex">
                <div class="number-circle icon">3</div>
                <div class="step-3-img step-img"></div>
                <h2>Search And Add The Foods Of Your Choice</h2>
            </div>
        </div>
        <div class="steps-complete icon"></div>
    </div>

    <div class="center-content flex">
        <div class="center-text flex">
            <h2>Nutritionix API</h2>
            <p>X Food Diary is powered by the Nutritionix API, this is how we get all the data on so many different foods. Nutritionix are the worlds largest verified nutrition database with over 740,000 grocery items, 170,000 restaurant items and 13,000 common foods. So no matter what you eat, we'll have you covered.</p>
            <p>If you have any questions please feel free to visit our <a href="/help">help</a> page where you can find our contact information.</p>
        </div>
        <div class="center-img" title="Nutritionix logo"></div>
    </div>
</div>