/* ================================================== */
/* Center Content */

.center-content {
    display: flex;
    flex: 0 0 1140px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 60px 0 30px 0;
}

h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.p1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    white-space: pre-line;
    line-height: 1.6;
}

.try-for-free-button {
    width: 186px;
    height: 39px;
    margin: 28px 0 15px;
    font-size: 18px;
    background: var(--button-color);
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.try-for-free-button:hover {
    background-color: var(--button-color-dark);
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
li {
    font-size: 14px;
    color: var(--font-color-dim);
    margin: 15px 15px 0 15px;
}
.checkmark {
    display: inline-block;
    transform: rotate(45deg);
    height: 10px;
    width: 5px;
    border-bottom: 2px solid var(--font-color-dim);
    border-right: 2px solid var(--font-color-dim);
    margin-right: 5px;
}



/* ================================================== */
/* Lower Section */
.lower-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 35px 0;
}
.lower-text-container, .lower-image-container {
    width: 445px;
    max-height: 360px;
    margin: 0 65px;
}
/* when viewport is small enough, decrease left & right margin */
@media (max-width: 929px) {
    .lower-text-container, .lower-image-container {
        margin: 0px 10px;
    }
}
.lower-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 320px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
}
.p2 {
    line-height: 1.6;
}
.lower-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-image {
    width: 100%;
    padding-top: 62.5%;
    background: 
        url(img/food.png)   /* image */
        center / contain    /* position / size */
        no-repeat;          /* repeat */
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 25px 10px;
}