/* Site Variables */
:root {
    --bg-color-light: #2578be;
    --bg-color-less-light: #2c569a;
    --bg-color-dark: #333475;
    --bg-color-dark-67-o: #323476ab;
    --bg-color-less-dark: #284679;
    --bg-color-center: #2b569a;
    --bg-color-center-50-o: #2b569a80;

    --font-color-main: #fff;
    --font-color-dim: #b2aeac;
    --font-color-less-dim: #e0e5eb;

    --button-color: #db545a;
    --button-color-dark: #d63b42;
    --button-color-filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(213deg) brightness(106%) contrast(107%);;
}

/* Default font */
* {
    font-family: 'Open Sans', sans-serif;
}

/* Default page background */
body {
    height: 100%;
    background-image: linear-gradient(315deg, var(--bg-color-less-light) 0%, var(--bg-color-light) 100%);
    background-attachment: fixed;
    color: var(--font-color-main);
    
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(140deg, var(--bg-color-light) 0%, var(--bg-color-dark) 100%);
    background-attachment: fixed;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 15% 100%);
    z-index: -1;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 85px;
    margin: 0 auto;
    text-transform: capitalize;
}
.logo {
    width: 111px;
    height: 85px;
    background: 
        url(img/x-logo.svg) 
        center / contain 
        no-repeat;
    filter: var(--button-color-filter);
    cursor: pointer;
}
.header-links {
    display: flex;
    align-items: center;
    color: var(--font-color-less-dim);
}
.header-links * {
    padding: 10px 20px;
}
.header-links *:hover {
    color: var(--button-color);
    cursor: pointer;
}
.sign-in-out-button {
    width: 111px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: var(--button-color);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 2px;
    cursor: pointer;
}
.sign-in-button:hover {
    color: #ffffff;
    background-color: var(--button-color-dark);
}
/* Collapsible Menu */
.collapsible-menu {
    display: none;
    text-align: center;
}
.collapsible-menu a {
    display:block;
    padding: 5px 10px;
    margin: 5px;
}
.collapsible-menu label {
    font-size: 56px;
    display: block;
    cursor: pointer;
    background: 
        url(img/menu.png)   /* image */
        center / contain    /* position / size */
        no-repeat;          /* repeat */
    filter: var(--button-color-filter);
    padding: 10px 0 10px 0;
    width: 150px;
    height: 85px;
}
input:checked + label {
    background-image: url(img/x.png);
    transition: all 0.7s ease-in-out;
}
input#menu {
    display: none;
}
.menu-content {
    width: 150px;
    max-height: 0;
    overflow: hidden;
    background: var(--bg-color-less-light);
    color: transparent;
}
input:checked ~ .menu-content {
    max-height: 100%;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    color: var(--font-color-main);
    transition: color 0.7s, max-height 0.7s;
}
input:checked ~ .menu-content *:hover {
    color: var(--button-color);
}
/* add horizontal margin when page is too small */
@media (max-width: 1203px) {
    .header {
        margin: 0 32px 0 32px;
    }
}
/* switch to collapsible menu when the page is too small */
@media (max-width: 594px) {
    .header-links, .sign-in-out-button {
        display: none;
    }
    .header {
        margin: 0 0 0 32px;
    }
    .collapsible-menu {
        display: block;
    }
}

/* Quick css classes */
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

/* Icon defaults */
.icon {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Normalizing stuff */
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus {
    outline: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} /* Chrome, Safari, Edge, Opera */
input[type=number] {
  -moz-appearance: textfield;
}/* Firefox */

button {
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 0;
} 

button:focus {
    outline: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}