/* ================================================== */
/* Wrapper */

.wrapper {
    margin: 0 auto;
    max-width: 1020px; /* max-width + horrizontal padding x2 = max-width */
    padding: 0 10px;
}

/* ================================================== */
/* Icons */

/* add button */
.add-button::before {
    content: "\f055";
    color: var(--nutritionix-color);
}

/* remove button */
.remove-button {
    position: relative;
    z-index: 1;
}
.remove-button::before {
    content: "\f057";
    font-size: 24px;
    color: var(--button-color);
}

/* minus button */
.minus-button {
    position: relative;
    z-index: 1;
}
.minus-button::before {
    content: "\f056";
    font-size: 24px;
    color: var(--button-color);
}

/* white filling */
.remove-button::after, .minus-button::after {
    content: "\f111";
    font-size: 18px;
    position: absolute;
    transform: translate(-115%, 15%);
    z-index: -1;
}

/* ================================================== */
/* Header */

h1 {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 24px;
}

/* ================================================== */
/* Overlay */

.overlay {
    display: none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: #000;
    opacity:0.6;
    z-index: 2;
}

/* ================================================== */
/* Food Diary */

.food-diary-container {
    position: relative;
}

/* borders & border-radius */
.date-picker-container {
    border-radius: 8px 8px 0 0;
}
.date-picker-container, .cal-panel, .nutrition-panel, .group-header, .food-item {
    border: 2px solid rgba(35, 33, 45, 0.3);
    border-bottom: none;
}
.water-header {
    border-bottom: 2px solid rgba(35, 33, 45, 0.3);
    border-radius: 0 0 8px 8px;
}

/* settings */

.settings-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 42%);

    display: flex;
    flex-direction: column;
    gap: 0.2em;

    text-align: left;

    background-image: linear-gradient(180deg, var(--bg-color-light), var(--bg-color-less-light));
    box-shadow: inset 0 0 0 2px rgba(35, 33, 45, 0.3),
		0 0 0 2px rgba(185, 185, 185, 0.3);
    border-radius: 8px;
    padding: 25px;

    z-index: 2;

    display: none;
}
#cal-goal {
    font-size: 1em;
    color: var(--font-color-less-dim);
    text-align: right;
    padding: 0 0.2em 0 0.2em;
    
    /* background: var(--bg-color-center-50-o) !important; */
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(35, 33, 45, 0.3);
    /* border-radius: 5px; */
}

.settings-button {
    position: absolute;
    right: 0;
    top: -25px;
}
.settings-button::before {
    content: "\f013";
    font-size: 1em;
    color: var(--font-color-main);
    padding: 9px;
    cursor: pointer;
}

/* date picker */
.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 34px;
}

.previous-day::before {
    content: "\f053";
}
.next-day::before {
    content: "\f054";
}
.previous-day::before,
.next-day::before {
    font-size: 1em;
    color: var(--font-color-main);
    padding: 9px;
    cursor: pointer;
}

/* cal panel */
.cal-panel {
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    gap: 10px 0;
}
.cal-panel div {
    color: var(--font-color-main);
    font-weight: 900;
}
.cal-panel span {
    color: var(--font-color-less-dim);
    font-weight: 400;
    font-size: 0.875em;
}

.cal-progress {
    background: rgba(0, 0, 0, 0.33);
    border-radius: 7px;
    height: 10px;
    width: 100%;
}
.cal-progress-done {
    border-radius: 7px;
    width: 0%;
    height: 100%;
    opacity: 0;
    transition: 1s ease 0.2s;
}

/* nutrition pannel */
.nutrition-panel {
    justify-content: space-around;
    flex-flow: row wrap;
    color: skyblue;
    font-size: 0.875em;
    background: rgba(0, 0, 0, 0.225);
    border-bottom: none;
    border-right: none;
}
.nutrition-panel span {
    color: var(--font-color-less-dim);
}
.nutrition-panel > * {
    flex: 1 1 auto;
    text-align: center;
    padding: 6px;
    border-bottom: 2px solid rgba(35, 33, 45, 0.3);
    border-right: 2px solid rgba(35, 33, 45, 0.3);
}

/* groups */
.group {
    list-style-type: none;
    width: 100%;
}

/* group headers */
.breakfast-header {
    border-top: none; /* due to nutrition panel */
}

.group-header {
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.15);
    height: 36px;
    padding: 6px;
}
.group-header .add-button {
    margin: 0 0 0 6px;
}
.group-header span:last-of-type {
    font-weight: 900;
    color: var(--font-color-less-dim);
}
.cal-info::before {
    content: "\f05a";
    margin: 0 4px 0 0;
}

/* food items */
.food-item {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    background: transparent;
    padding: 6px;
}
.item-brand-name {
    font-size: 0.8125em;
    color: var(--font-color-less-dim);
}
.serving-qty {
    width: 2rem;
    background: var(--bg-color-center-50-o) !important;
    text-align: center;
    border: 2px solid rgba(35, 33, 45, 0.3);
    border-radius: 5px;
}

.item-cal {
    font-weight: 900;
    color: var(--nutritionix-color);
}

.item-name { /* remove button appear to the left of food item */
    position: relative;
}
.item-name:hover > .remove-food, .food-item:hover .remove-food,
.remove-food:hover {
    display: block;
}
.item-name::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -48px;
    right: 100%;
    width: 40px;
    height: 52px;
}
.remove-food {
    display: none;
    float: right;
    position: absolute;
    left: -37px;
    top: 7px;
}

@media (max-width: 1074px) { /* move remove button to after item name when vw is too small */
    .remove-food {
        display: none;
        float: right;
        position: absolute;
        left: auto;
        right: -29px;
        top: -2px;
    }
}

/* water */
.ml-l {
    font-weight: 400 !important;
}
.water-icon::before {
    content: "\f043";
    font-size: 0.875em;
    margin: 0 4px 0 0;
}

/* ================================================== */
/* Food search */

.food-search-container {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
}

.food-search {
    background-image: linear-gradient(180deg, var(--bg-color-light), var(--bg-color-less-light));
    padding: 50px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 2px rgba(35, 33, 45, 0.3),
		0 0 0 2px rgba(185, 185, 185, 0.3);
}

.food-search-box {
    width: 500px;
    height: 50px;
    padding: 6px 12px;
    background-color: var(--bg-color-center);
    color: var(--font-color-main);
    padding: 6px 12px;
    border: none;
    border: 2px solid rgba(185, 185, 185, 0.3);
}

.search-results-container { 
    width: 500px;
    height: 267px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: var(--bg-color-less-light);
    border-radius: 0 0 8px 8px;
    border: 2px solid rgba(185, 185, 185, 0.3);
    border-top: none;
    cursor: pointer;
    display: none;
}
.search-results-container::-webkit-scrollbar { /* Hide scrollbar for Chrome, Yandex, Safari and Opera  */
    display: none;
}

/* search result item */
.search-result-item {
    display: flex;
    justify-content: space-between;
    gap: 0 12px;
    background: rgba(0, 0, 0, 0.15);
    padding: 6px 12px;
}
.search-result-item:hover {
    background: rgba(0, 0, 0, 0.25);
}

.search-result-item-sub-info {
    font-size: 0.8em;
    color: var(--font-color-less-dim);
}
.search-result-item-cal-container {
    min-width: 31px;
    max-width: 31px;
    text-align: center;
}
.search-result-item-cal {
    color: yellowgreen;
    font-weight: 700;
}
.search-result-item-cal-text {
    color: var(--font-color-less-dim);
    font-size: 0.9em;
}

/* ================================================== */
/* Add water */

.add-water-container {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 31%);
    z-index: 2;
}

.add-water {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, var(--bg-color-light), var(--bg-color-less-light));
    border-radius: 15px;
    box-shadow: inset 0 0 0 2px rgba(35, 33, 45, 0.3),
		0 0 0 2px rgba(185, 185, 185, 0.3);
    padding: 25px;
    position: relative;
}

/* custom radio buttons for ml & L */
.radio {
	background: var(--bg-color-less-dark);
	padding: 4px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 2px rgba(35, 33, 45, 0.3),
		0 0 0 2px rgba(185, 185, 185, 0.3);
	position: relative;
    margin: 0 0 12px 0;
    cursor: default;
}
.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: var(--bg-color-less-dark);
	color: #bdbdbdbd;
	font-size: 14px;
	transition: all 100ms linear;
}
.radio input:checked {
	background-image: linear-gradient(180deg, var(--button-color), var(--button-color-dark));
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}
.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

.water-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-water .add-button::before, .add-water .minus-button::before {
    border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.submit-water-button.add-button {
    margin: 0 0 0 10px;
    font-size: 24px;
}
.submit-water-button.minus-button {
    margin: 0 10px 0 0;
}

.water-input {
    background-color: var(--bg-color-center);
    color: var(--font-color-main);
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px rgba(35, 33, 45, 0.3),
		0 0 0 2px rgba(185, 185, 185, 0.3);
}

/* ================================================== */
/* Tool tips */

/* tooltip container */
.tooltip {
    position: absolute;
    top: 6px;
    right: 12px;
    display: inline-block;
    color: var(--font-color-dim);
    border-bottom: 1px dotted var(--font-color-dim);
}

/* tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    white-space: pre-line;
    width: 318px;
    line-height: 1.5em;
    background-color: var(--bg-color-center);
    font-size: 14px;
    color: var(--font-color-less-dim);
    padding: 6px 8px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px rgba(35, 33, 45, 0.3),
        0 0 0 2px rgba(185, 185, 185, 0.3);
    /* position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 135%;
    left: -96.5px;
    margin-left: -60px;
    /* fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 101%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-color-dark-67-o) transparent;
}

/* show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}