* {
    font-family: 'Roboto', sans-serif;
}

/* ================================================== */
/* Wrapper */

.wrapper {
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wrapper > * {
    margin: 30px;
}
/* elements won't center virtically without this for some reason */
@media (min-width: 520px) {
    html {
        height: 100vh;
    }
}



/* ================================================== */
/* Sign up/in box */

.sign-up-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 420px;
    min-width: 300px;
    height: 500px;
    min-height: 400px;
    background: #fff;
    border-radius: 0.6em;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3);
    padding: 0 1em;
}

.sign-up-box .title {
    color: black;
    font-size: 2em;
}
.sign-up-box p {
    color: var(--font-color-dim);
}

form {
    flex-direction: column;
}
.user-details {
    flex-wrap: wrap;
    width: 100%;
}
form .user-details input, form .submit {
    width: 100%;
    height: 3rem;
}
form .user-details input:not(:first-child), form .submit {
    margin-top: 1em;
}
form .user-details input {
    padding-left: 1rem;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(140deg, rgb(240, 240, 240) 0%, rgb(200, 200, 200) 100%) 1;
}
form .submit {
    border: none;
    font-weight: 800;
    background: linear-gradient(140deg, rgb(99, 201, 241) 0%, rgb(58, 157, 222) 100%);
    cursor: pointer;
}
form .submit:hover {
    background: linear-gradient(140deg, var(--bg-color-light) 0%, var(--bg-color-dark) 100%);
}

p:last-of-type {
    text-align: center;
}
.sign-up-box a {
    color: -webkit-link;
    text-decoration: underline;
}

.errorMessage {
    color: #ff4242;
    font-weight: 800;
}



/* ================================================== */
/* Side text */

.side-text {
    flex-direction: column;
    width: 462px;
    min-width: 333px;
    height: auto;
}
.side-text h1 {
    font-size: 6em;
    text-align: center;
    cursor: pointer;
}
.side-text p {
    font-size: 1.2em;
    color: var(--font-color-dim);
    margin-top: 1em;
}