/* page variables */
:root {
    --border-gradient: linear-gradient(140deg, rgb(240, 240, 240) 0%, rgb(200, 200, 200) 100%) 1;

    --input-bg: #e8f0fe;
    --input-bg-75-o: #e8f0febf;

    --transition-bg: background 0.25s linear;
    --transition-o: opacity 0.25s linear;
}

/* page specific font */
* {
    font-family: 'Roboto', sans-serif;
}

/* ================================================== */
/* Wrapper */

.wrapper {
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wrapper > * {
    margin: 30px;
}
/* elements won't center virtically without this for some reason */
@media (min-width: 520px) {
    html {
        height: 100vh;
    }
}

/* ================================================== */
/* Sign up/in box */

/* container */
.sign-up-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 420px;
    min-width: 300px;
    height: 500px;
    min-height: 400px;
    background: white;
    border-radius: 0.6em;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3);
    padding: 0 1em;
}

/* title & p's */
.sign-up-box .title {
    color: black;
    font-size: 2em;
}
.sign-up-box p {
    color: var(--font-color-white-bg);
}

/* form & .user-details */
form {
    flex-direction: column;
}
form > *:not(:first-child), .user-details > * {
    width: 100%;
    height: 3rem;
}
form > *+*, .user-details > *+* {
    margin-top: 1em;
}
.user-details {
    flex-wrap: wrap;
    width: 100%;
}

/* inputs */
input {
    padding-left: 1rem;
    border-width: 2px;
    border-style: solid;
    border-image: var(--border-gradient);
    transition: var(--transition-bg);
}
.user-details > *:hover, .user-details > *:valid {
    background: var(--input-bg);
}
.user-details > *:valid:hover {
    background: var(--input-bg-75-o);
}

/* sign in button */
.submit {
    border: none;
    font-weight: 800;
    background: var(--gradient-bg-lighter);
    cursor: pointer;
    /* for gradient transition */
    position: relative;
    z-index: 1;
}
.submit::after {
    /* for gradient transition */
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: var(--gradient-bg-dark);
    z-index: -1;
    opacity: 0;
    transition: var(--transition-o);
}
.submit:hover::after {
    opacity: 1;
}

/* remember me button */
.remember-me {
    justify-content: flex-start;
}
#remember-me {
    width: 3rem;
    height: 3rem;
    padding: 0;
    /* for gradient transition */
    position: relative;
    z-index: 1;
}
#remember-me:hover {
    background: var(--input-bg);
}
#remember-me:checked {
    border: none;
}
/* before / after */
#remember-me::before, #remember-me::after {
    content: "\f00c";
    color: var(--font-color-main);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* for gradient transition */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    opacity: 0;
    transition: var(--transition-o);
}
#remember-me::before {
    background: var(--gradient-bg-lighter);
}
#remember-me::after {
    background: var(--gradient-bg-dark);
}
/* gradient-bg-lighter when checked */
#remember-me:checked::before {
    opacity: 1;
}
/* gradient-bg-dark when checked + hover */
#remember-me:checked:hover::after {
    opacity: 1;
}
label {
    color: var(--font-color-white-bg);
    padding: 1em;
    cursor: pointer;
}

/* lower p only */
p:last-of-type {
    text-align: center;
}
.sign-up-box a {
    color: -webkit-link;
    text-decoration: underline;
}

/* error message */
.errorMessage {
    color: #ff4242;
    font-weight: 800;
}

/* ================================================== */
/* Side text */

.side-text {
    flex-direction: column;
    width: 462px;
    min-width: 333px;
    height: auto;
}
.side-text h1 {
    font-size: 6em;
    text-align: center;
    cursor: pointer;
}
.side-text p {
    font-size: 1.2em;
    color: var(--font-color-dim);
    margin-top: 1em;
}