<%- include('../partials/header.ejs') %>

<div class="wrapper flex">
    <!-- <div class="top-content flex"> -->
        <h1>Help</h1>

        <h2>FAQs</h2>
        <div class="faqs">
            <div>
                <h3>How do I update my serving quantity?</h3>
                <span>Just to the right of the products brand name you'll see the default serving quantity. Replace the default with whatever you desire, press the enter key on your keyboard and everything will update.</span>
            </div>
            <div>
                <h3>How do I change my calorie goal?</h3>
                <span>Above your food diary on the right side is a small cog icon, press that to reveal your calorie goal. Change the number and press enter on your keyboard to save your new calorie goal.</span>
            </div>
            <div>
                <h3>Can I check my past food diaries?</h3>
                <span>You can click the little left arrow on the top left of your diary to go the previous day or you can navigate to your url and change the date at the end to your desired date.</span>
            </div>
        </div>

        <div class="email-us">
            <h3>Your question isn't here?</h3>
            <span>Feel free to email us @xaitiproduction with your query and we'll get back to you as soon as possible!</span>
        </div>
    <!-- </div> -->

    <div class="center-content flex">
        <div class="center-text flex">
            <h2></h2>
            <p></p>
        </div>
        <div class="center-img"></div>
    </div>
</div>