<%- include('../partials/header.ejs') %>

<div class="center-content">
    <h1>X Food Diary</h1>
    <p class="p1">Easily keep track of all your food and nutritional intake
        with X Food Diary</p>
    <button class="try-for-free-button" onclick="location.href='/register'" type="button">TRY FOR FREE</button>
    <ul>
        <li><div class="checkmark"></div>Easy To Use</li> 
        <li><div class="checkmark"></div>Powered By Nutritionix</li>
        <li><div class="checkmark"></div>Completely Free</li>
    </ul>
</div>

<div class="lower-content">
    <div class="lower-text-container">
        <h2>Taking steps to improve
            your health</h2>
        <p class="p2">As we all know, our diets are very important, and not one
            fits all. Easily find a diet that suits you and your needs with
            X Food Diary. Keep track of what you're eating and how
            you're feeling. Know how many calories, fats,
            carbohydrates, fibre, proteins and more that you're eating.</p>
    </div>
    <div class="lower-image-container">
        <div class="lower-image"></div>
    </div>
</div>