<div class="wrapper">
    <div class="sign-up-box">
        <div class="sign-up-box-content">
            <h2 class="title">Sign up</h2>
            <p>Create your free account easily with little information</p>
            <div class="errorMessage"><%- include('../partials/errorMessage.ejs') %></div>
            <form action="/register" method="POST">
                <div class="user-details">
                    <input type="text" name="name" placeholder="Name" value="<%= user.name %>">
                    <input type="email" name="email" placeholder="Email" value="<%= user.email %>">
                    <input type="password" name="password" placeholder="Password" value="<%= user.password %>">
                </div>
                <button class="submit" type="submit">CREATE ACCOUNT</button>
            </form>
            <p>Already have an account? <a href="/sign-in">Sign in</a></p>
        </div>
    </div>

    <div class="side-text">
        <h1>X<br>Food Diary</h1>
        <p>Your personal diary is only one click away</p>
    </div>
</div>