<div class="wrapper flex">
    <div class="sign-up-box">
        <h2 class="title">Sign up</h2>
        <p>Create your free account easily with little information</p>
        <%- include('../partials/errorMessage.ejs') %>
        <form class="flex" action="/register" method="POST">
            <%- include('_user_details') %>
            <button class="submit" type="submit">CREATE ACCOUNT</button>
        </form>
        <p>Already have an account? <a href="/sign-in">Sign in</a></p>
    </div>
    <%- include('_side_text') %>
</div>