<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sign-in.css">
    <title>Sign in</title>
</head>
<body>
    <div class="background"></div>
    <div class="wrapper">
        <div class="sign-up-box">
            <div class="sign-up-box-content">
                <h2 class="title">Sign in</h2>
                <p>It's time to start taking the right steps</p>
                <% if (messages.error) { %>
                <div class="errorMessage"><%= messages.error %></div>
                <% } %>  
                <form action="/sign-in" method="POST">
                    <div class="user-details">
                        <input type="email" name="email" placeholder="Email" value="<%= user.email %>">            
                        <input type="password" name="password" placeholder="Password" value="<%= user.password %>">
                    </div>
                    <button class="submit" type="submit">Sign in</button>
                </form>
                <p>Don't have an account yet? <a href="/register">Join</a> for free</p>
            </div>
        </div>

        <div class="side-text">
            <h1>X<br>Food Diary</h1>
            <p>Your personal diary is only one click away</p>
        </div>
    </div>
</body>
</html>