<div class="wrapper flex">
    <div class="sign-up-box">
        <h2 class="title">Sign in</h2>
        <p>It's time to start taking the right steps</p>
        <%- include('../partials/errorMessage.ejs') %>
        <form class="flex" action="/sign-in" method="POST">
            <%- include('_user_details') %>
            <button class="submit" type="submit">sign in</button>
            <div class="remember-me flex">
                <input class="icon" id="remember-me" type="checkbox" name="remember_me" value="yes">
                <label for="remember-me">Remember me</label>
            </div>
        </form>
        <%- include('../partials/infoMessage.ejs') %>
        <p>Don't have an account yet? <a href="/register">Join</a> for free</p>
    </div>
    <%- include('_side_text') %>
</div>